.first{
    
    background-color: transparent;
    color:black;
    transition: all 1s ease-out;

    
}

.second{
    background-color: white;
    color: black;
    transition: all 1s ease-out;

    background: rgb(255, 255, 255);
    box-shadow: 0 3px 3px -3px rgba(0,0,0,.5);
    /* border-bottom: .5px solid black; */


}





.topNavFirst{
    background-color: green;
    color:black;
    transition: all 1s ease-out;
    /* display: none !important; */

    
}

.topNavSecond{
    background-color: white;
    color: black;
    transition: all 1s ease-out;

}