.projectImg :hover {
    cursor: pointer;
    opacity: .8;
    transition: all ease-in-out .5s;
    border: 1px solid rgba(155, 155, 155, 0.862);

}

.playIcon {

    width: 70px;
    height: auto;
}


/* .playIcon :hover {

    width: 100px;
    height: auto;
} */


.videoDemo :hover {

    cursor: pointer;
    color: yellow;

}