.boxstyle{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    transition: ease-in-out .5s;
}

.paperstyle:hover{
    cursor: pointer;
}

.paperstyle:hover .boxstyle{
    background-color: rgba(0,0,0,.8);
    transition: ease-in-out .5s;
}